<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.songxl.springbootdva.dao.UserDAO">
    <select id="queryAll" resultType="UserDO">
        select * from t_user
    </select>

    <delete id="removeUser" parameterType="Integer">
        delete from t_user where id=#{id}
    </delete>

    <insert id="registerUser" parameterType="UserDO">
        insert into t_user (username,password,gender,age) values(#{username},#{password},#{gender},#{age})
    </insert>

    <update id="updateUser" parameterType="UserDO">
        update t_user set username=#{username},password=#{password},gender=#{gender},age=#{age} where id=#{id}
    </update>

    <select id="queryById" resultType="UserDO">
        select * from t_user where id = #{id}
    </select>

</mapper>